<div style="margin-top: 56px;" fxLayout fxLayoutAlign="center center">
	<h2 *ngIf="documentId != 0" i18n>Document overview</h2>
	<h2 *ngIf="documentId == 0" i18n>Document creation</h2>
</div>

<div fxLayout fxLayoutAlign="center" *ngIf="!documentLoaded">
	<a class="white" (click)="goBack()">
		<p><span class="bg"></span><span class="base"></span><span class="text" i18n>Go back</span></p>
	</a>
</div>

<div fxLayout fxLayoutAlign="center" *ngIf="documentLoaded">
	<div class="documentCard">
		<h4 style="margin-left: 5px; font-weight: 500;" i18n>Document details</h4>
		<form>
			<div fxLayout fxLayoutAlign="space-between" style="margin-left: 5px; margin-right: 5px;">
				<div>
					<label for="fileName" i18n>File Name</label>
					<input [(ngModel)]="documentScan" name="documentScan" type="file" id="fileName" name="filename">
				</div>
			</div>
	
			<div fxLayout style="margin-left: 5px; margin-right: 5px;">
				<div fxFlex="100%">
					<label for="description" i18n>Description</label>
					<input [(ngModel)]="description" class="longInput" name="description" type="text" id="description">
				</div>
			</div>
			
			<div fxLayout style="margin-left: 5px; margin-right: 5px;">
				<div fxFlex="42%">
					<label for="createdBy" i18n>Created By</label>
					<input *ngIf="createdBy" [(ngModel)]="createdBy.nickName" name="createdBy" disabled type="text" id="createdBy">
				</div>
				<div fxFlex="38%">
					<label for="on" i18n>On</label>
					<input [(ngModel)]="createdOn" name="createdOn" type="date" disabled id="on">
				</div>
				<div fxFlex="20%">
					<label style="float:left; margin-top: 15px;" class="container" i18n>archived
						<input [(ngModel)]="isArchived" name="isArchived" type="checkbox">
						<span class="checkmark"></span>
					</label>
				</div>
			</div>
			
			<div fxLayout style="margin-left: 5px; margin-right: 5px;">
				<div fxFlex="42%">
					<label for="activitySelect" i18n>Activity</label>
					<select [(ngModel)]="selectedActivity" name="selectedActivity" class="customSelect" id="activitySelect">
						<option *ngFor="let activity of activities" [ngValue]="activity">{{activity.name}}</option>
					</select>
				</div>
				<div fxFlex="42%">
					<label for="categorySelect" i18n>Category</label>
					<select [(ngModel)]="selectedCategory" name="selectedCategory" class="customSelect" id="categorySelect">
						<option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
					</select>
				</div>
			</div>
			
			<div fxLayout style="margin-left: 5px; margin-right: 5px;">
				<div fxFlex="100%">
					<label for="comment" i18n>Comment</label>
					<textarea [(ngModel)]="comment" name="comment" id="comment"></textarea>
				</div>
			</div>

			<div fxLayout style="margin-left: 5px; margin-right: 5px;">
				<div fxFlex="40%">
					<label for="value" i18n>Value</label>
					<input [(ngModel)]="totalValue" name="totalValue" type="text" id="value">
				</div>
			</div>
			
			<h4 style="margin-left: 5px; margin-top: 10px; font-weight: 500;" i18n>Budget details</h4>
			<div style="margin-left: 5px; margin-right: 5px;">
				<table>
					<tr>
						<th>Type</th>
						<th>Comment</th>
						<th>Value</th>
						<th>Person</th>
					</tr>
					<tr *ngFor="let budget of budgetData">
						<td>budget.ridDmsBudgetType</td>
						<td>budget.comment</td>
						<td>budget.value</td>
						<td>budget.ridDmsPerson</td>
					</tr>
					
				</table>
			</div>
			
			<div fxLayout fxLayoutAlign="space-between">
				<a class="white" (click)="goBack()">
					<p><span class="bg"></span><span class="base"></span><span class="text" i18n>Cancel</span></p>
				</a>
				<div fxFlex="50%">
					<div fxLayout="row" fxLayoutAlign="end">
						<a class="white" (click)="deleteDocument()" *ngIf="documentId != 0">
							<p><span class="bg"></span><span class="base"></span><span class="text" i18n>Delete</span></p>
						</a>
						<a class="white" (click)="saveDocument()">
							<p><span class="bg"></span><span class="base"></span><span class="text" i18n>Save</span></p>
						</a>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>

<div style="margin-top: 600px;">
</div>